<div class="container">
  <div class="row">
    <div class="col-6">
      <ul>
        <!--(click)="getStudent(student.ID)"-->
        <li
          *ngFor="let student of StudentsList; let i = index"
          class="list-group-item list-group-item-action"
          style="cursor:pointer"
          [routerLink]="[student.ID]"
        >
          <span class="badge badge-primary">{{ i }}</span>
          <a class="card-link">{{ student.Name }} </a>
          <span class="badge badge-pill badge-primary">{{ i }}</span>
        </li>
      </ul>
    </div>
    <!--
    <div class="col-sm-6" *ngIf="student">
      <student-details [student]="student"></student-details>
    </div>
  --></div>
</div>
