<div class="d-flex flex-sm-column flex-md-row justify-content-around align-items-center">
  <div class="card w-25">
    <img src="../../../assets/Cinema.jpg" class="card-img-top" style="height:250px;width:100%;" />
    <div class="card-body">
      <h5 class="card-title">Movies</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a [routerLink]="['../movies']" class="btn btn-primary">Show</a>
    </div>
  </div>
  <div class="card w-25">
    <img src="../../../assets/Genre.jpg" class="card-img-top" style="height:250px;width:100%;" />
    <div class="card-body">
      <h5 class="card-title">Genres</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="/genres" class="btn btn-primary">Show</a>
    </div>
  </div>
</div>