<div class="">
  <table class="table table-bordered table-stripped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody *ngIf="(GenresList$ | async) as genresList; else loading">
      <tr
        *ngFor="let genre of genresList; let i = index"
        [routerLink]="[genre._id]"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ genre.name }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #loading>
    Loading
  </ng-template>
</div>
