<form #f="ngForm" (ngSubmit)="signIn(f.value)" class="m-5">
  <div class="container alert alert-danger" *ngIf="invalidLogin">
    Invalid username/password
  </div>
  <div class="form-group container">
    <label for="email">username</label>
    <input type="text" name="email" id="email" ngModel class="form-control" />
  </div>
  <div class="form-group container">
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      id="password"
      ngModel
      class="form-control"
    />
  </div>
  <div class="form-group container">
    <button type="submit" class="btn btn-primary">login</button>
  </div>
</form>
